@model IEnumerable<Ingredient>

@{
    ViewBag.Title = "List of Restaurant Ingredients";
}

<h1>Ingredients</h1>

<a asp-action="Create" class="btn btn-primary">Create New Ingredient</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th> <!-- Added Actions header -->
        </tr>
    </thead>
    <tbody>
        @foreach (Ingredient i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.IngredientId" class="btn-action">Details</a>
                    <a asp-action="Edit" asp-route-id="@i.IngredientId" class="btn-action">Edit</a>
                    <a asp-action="Delete" asp-route-id="@i.IngredientId" class="btn-action">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
